/*body { padding-top:30px; }
form { padding-bottom:20px; }
.comment { padding-bottom:20px; }*/

      body {
        padding-top: 70px;
      }

      .pagination {
        float:left;
        width:100%;
      }
      .pagination ul, .pagination li {
        display:inline;
        float:left;
      }
      .pagination ul li {
        border: 1px solid #ccc;
        margin-right:3px;
        padding: 5px;
      }
